<div class='container'>
  <h2>商品詳細</h2>
  <div class="vstack gap-4">
    <div class="border text-center">
      <%= product_image(@product, :page_display, '') %>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="col">商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th scope="col">価格（税込）</th>
          <td><%= number_with_delimiter(@product.price_with_tax) %>円</td>
        </tr>
        <tr>
          <th scope="col">価格（税抜）</th>
          <td><%= number_with_delimiter(@product.price) %>円</td>
        </tr>
        <tr>
          <th scope="col">説明</th>
          <td><%= @product.description %></td>
        </tr>
      </tbody>
    </table>
    <div class="align-self-end">
      <% if @cart_item && @cart_item.quantity.present? %>
        <%= button_to 'カートへ追加', cart_cart_item_path(@cart_item), method: 'put', params: { cart_item: { product_id: @product.id, quantity: @cart_item.quantity + 1 } },
                                                                 class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'カートへ追加', cart_cart_items_path, params: { cart_item: { product_id: @product.id, quantity: 1 } },
                                                      class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="mt-4">
    <%= link_to '一覧へ戻る', products_path %>
  </div>
</div>
