<div class='container'>
  <h2>商品詳細</h2>
  <div class="vstack gap-4">
    <div class="border text-center">
      <%= image_tag @product.image.attached? ? @product.image.variant(:page_display) : 'no_image.png', size: '64x64' %>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="col">商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th scope="col">価格（税込）</th>
          <td><%= number_with_delimiter(@product.price_with_tax) %>円</td>
        </tr>
        <tr>
          <th scope="col">価格（税抜）</th>
          <td><%= number_with_delimiter(@product.price) %>円</td>
        </tr>
        <tr>
          <th scope="col">説明</th>
          <td><%= @product.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4">
    <%= link_to '一覧へ戻る', products_path %>
  </div>
</div>
