<!DOCTYPE html>
<html>
  <head>
    <title>さくらマーケット</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class='application_body'>
    <%= render 'layouts/header' %>
    <div class="container-fluid bg-light">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= if message_type == 'notice'
                                      'success'
                                    else
                                      (message_type == 'alert' ? 'danger' : message_type)
                                    end %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <div class='mt-4'>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
